*, *:before, *:after {
    box-sizing: border-box;
}


body {
    background-color: #2e306b;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 1.25rem;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: .63rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 3.125rem 1.25rem;
    max-width: 100%;
    width: 50rem;
}

h1 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

span {
    font-size: smaller;
    margin: .3rem 0;
    font-style: italic;
}

.joke {
    font-size: 1.9rem;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 3.125rem auto;
    max-width: 38rem;
}

.btn {
    background-color: #4a2179;
    color: #fff;
    border: 0;
    border-radius: .63rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    padding: 0.9rem 3rem;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}